# ==========================
# Go
# ==========================
bin/
dist/
build/
tmp/

*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test
*.test

# Coverage
coverage.out

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Docker
# ==========================
infra/volumes/

# ==========================
# Node (frontend later)
# ==========================
node_modules/
dist/
build/

# ==========================
# Bun
# ==========================
.bun/